[github]
	user = andyswitzer
	token = REPLACE_ME_WITH_TOKEN
[user]
	email = andyswitzer@gmail.com
	name = Andy Switzer
[color]
	branch = auto
	diff = auto
	status = auto
[merge]
	tool = opendiff
[alias]
	br = branch
	ci = commit
	co = checkout
	d  = diff
	st = status
[core]
	excludesfile = ~/etc/git/ignore
